.alpha{
    color: white;
    background-color: black;
    margin-left: 200px;
    margin-right: 200px;
    border: 5px solid yellow;
    border-radius: 15px;
    text-align: center;
}
.alpha-bita{
    padding-bottom: 15px;
}